[submodule "components/gecl-versioning-manager"]
	path = components/gecl-versioning-manager
	url = https://github.com/gamename-esp32-component-library/GECL-versioning-manager
[submodule "components/gecl-heartbeat-manager"]
	path = components/gecl-heartbeat-manager
	url = https://github.com/gamename-esp32-component-library/GECL-heartbeat-manager
[submodule "components/gecl-wifi-manager"]
	path = components/gecl-wifi-manager
	url = https://github.com/gamename-esp32-component-library/GECL-wifi-manager
[submodule "components/gecl-mqtt-manager"]
	path = components/gecl-mqtt-manager
	url = https://github.com/gamename-esp32-component-library/GECL-mqtt-manager
[submodule "components/gecl-ota-manager"]
	path = components/gecl-ota-manager
	url = https://github.com/gamename-esp32-component-library/GECL-ota-manager
[submodule "components/gecl-motion-sensor-manager"]
	path = components/gecl-motion-sensor-manager
	url = https://github.com/gamename-esp32-component-library/GECL-motion-sensor-manager
[submodule "components/gecl-logger-manager"]
	path = components/gecl-logger-manager
	url = https://github.com/gamename-esp32-component-library/GECL-logger-manager
[submodule "components/gecl-misc-util-manager"]
	path = components/gecl-misc-util-manager
	url = https://github.com/gamename-esp32-component-library/GECL-misc-util-manager
